<!--Main Navigation-->
<!-- Sidebar -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                        <a href="@Url.Action("", "Tbl_Oda/Index")" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Yeni Oda Ekle</span>
                        </a>
                        <a href="@Url.Action("", "Tbl_Odeme/Index")" class="list-group-item list-group-item-action py-2 ripple active">
                            <i class="fas fa-chart-area fa-fw me-3"></i><span>Yeni Ödeme Planı Ekle</span>
                        </a>
                        <a href="@Url.Action("", "Calisan/Index")" class="list-group-item list-group-item-action py-2 ripple">
                            <i class="fas fa-lock fa-fw me-3"></i><span>Çalışan Listesi</span>
                        </a>
                        <a href="@Url.Action("", "Otopark/List")" class="list-group-item list-group-item-action py-2 ripple">
                            <i class="fas fa-chart-line fa-fw me-3"></i><span>Otopark Numaraları</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- Sidebar -->